body {
    margin: 0;
    padding: 0;
}

img {
    max-height: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    color: white;
    background-color: #7D6E83;
}

.one {
    display: flex;
    justify-content: space-between;
    padding: 16px 300px;
    background-color: #F8EDE3;
}

.two {
    display: flex;
    justify-content: space-between;
    padding: 16px 300px;
    background-color: #DFD3C3;
}

.three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 300px;
    background-color: #D0B8A8;
}

.four {
    display: flex;
    padding: 16px 300px;
    background-color: #7D6E83;
}

.footer {
    text-align: center;
    background-color: #635769;
    padding: 16px;
}

.directory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.navlink {
    padding-right: 20px;
}

.imagecard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainbody {
    background-color: #DFD3C3;
}

.pictures-title {
    text-align: center;
    background-color: #DFD3C3;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.quote {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.attrib {
    text-align: end;
    margin-left: 500px;
    font-size: 16px;
}

.welcome-text {
    font-size: 48px;
    font-weight: 800;
}

.welcome-message {
    font-size: 18px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}